<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campus Call</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
  <h1>Campus Call</h1>
  <p>대학 생활 중 직면한 문제 상황에 대한 담당 부서를 찾아드리고, <br> 해당 부서의 전화번호를 안내해 드립니다.</p>

  <div class="search-section">
    <label for="issue-search">문제 상황을 검색하세요</label>

    <!-- 통합된 폼 -->
    <form id="search-form" th:action="@{/chat-gpt/question}" method="post">
      <input type="text" id="issue-search" name="question" placeholder="이중전공 변경신청을 정정하고 싶어" required>
      <button type="submit">전화번호 찾기</button>
    </form>
  </div>

  <div class="popular-keywords">
    <h2>인기 검색어</h2>
    <div class="keywords" id="keywords-list">
      <ul>
        <li th:each="keyword : ${topKeywords}" data-keyword-text="${keyword.word}">
          <span th:text="${keyword.word}"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="response" th:if="${answer}">

  </div>
</div>

<!-- Departments List Section -->
<div class="departments-list">
  <h2>부서 목록</h2>
  <div id="departments-list">
    <ul>
      <li th:each="department : ${departments}">
        <span th:text="${department.name}"></span>: <span th:text="${department.phone}"></span>
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const keywords = document.querySelectorAll('.keywords li');
    keywords.forEach(keyword => {
      keyword.addEventListener('click', function() {
        const searchInput = document.getElementById('issue-search');
        searchInput.value = this.getAttribute('data-keyword-text');
      });
    });
  });
</script>

</body>
</html>
